//Footer styles
.site-footer-logo {
  margin-bottom: 59px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
}

.site-footer-menu-wrapper .footer-menu {
  margin-bottom: 60px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.site-footer-menu-wrapper .footer-menu .navbar-nav {
  flex-direction: row;
  justify-content: center;
  gap: 35px;

  .nav-link {
    color: #666666;

    &:hover {
      color: $accent-color;
    }
  }
}

.site-copyright {
  border-top:  1px solid #E5E5E5;
  padding-top: 30px;
}
