//Header styles
.navbar-container {
  max-width: 1760px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  
  @include media-breakpoint-down(sm){
    padding: 0 15px;
  }
}

nav.navbar {
  padding: 30px 0;

  @include media-breakpoint-down(sm){
    padding: 10px 0;
  }
}

.navbar-nav {
  gap: 20px;
}

.nav-link {
  color: $text-color;
  font-size: 14px;
  font-family: "PT Serif";
}

// Mobile view
.navbar-toggler-icon {
  background-image: url("../img/burger-menu-icon.svg");
}